# =======================================================
# 1. SEGURANÇA E CREDENCIAIS
# =======================================================
# Chaves de Service Account do Google Cloud
*.json
!package.json
!package-lock.json
credentials.json

# Configurações locais e segredos
.env
.env.local
profiles.yml
user.yml
.DS_Store

# =======================================================
# 2. AIRFLOW (Standalone & Local)
# =======================================================
airflow/airflow.db
airflow/*.db
airflow/logs/
airflow/*.pid
airflow/*.err
airflow/standalone_admin_password.txt
airflow/webserver_config.py
*.out

# =======================================================
# 3. dbt
# =======================================================
target/
dbt_packages/
dbt_modules/
logs/
*.log

# =======================================================
# 4. DADOS E GIS (Arquivos Pesados)
# =======================================================
*.csv
*.parquet
*.geoparquet
*.gz
*.zip
*.shp
*.shx
*.dbf
*.prj
*.cpg
data/

# =======================================================
# 5. PYTHON E AMBIENTES VIRTUAIS
# =======================================================
__pycache__/
*.py[oc]
.venv/
venv/
.devenv/
build/
dist/
*.egg-info

# =======================================================
# 6. FERRAMENTAS E IDEs
# =======================================================
.vscode/
.idea/
.ipynb_checkpoints
.direnv/
deploy-staging.sh