# --- Python & Build ---
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# --- Virtual environments ---
.venv

# --- Devenv & Direnv ---
.devenv*
devenv.local.nix
devenv.local.yaml
.direnv

# --- Pre-commit ---
.pre-commit-config.yaml

# --- DADOS (Ignorar arquivos pesados) ---
*.csv
*.shp
*.shx
*.dbf
*.zip
data/raw/

# --- DBT (ESSENCIAL ADICIONAR ISSO) ---
target/
dbt_packages/
dbt_modules/
logs/
*.log

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Configurações Locais ---
.env
.DS_Store
.vscode/