@import "tailwindcss";

:root {
  /* Forçamos o padrão para ser sempre claro */
  --background: #ffffff;
  --foreground: #171717;
}

/* APAGAMOS O BLOCO @media (prefers-color-scheme: dark) */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Adicionamos isso para garantir que o texto fique nítido */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}